NEXT_PUBLIC_SITE_URL=https://safidottech.com
NEXT_PUBLIC_SITE_NAME=SafiDotTech
NEXT_PUBLIC_WHATSAPP_NUMBER=+447700000000
NEXT_PUBLIC_WHATSAPP_MESSAGE=Hello%20SafiDotTech%2C%20I%27d%20like%20to%20discuss%20a%20project
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=G-XXXXXXXXXX
NEXT_PUBLIC_CURRENCY_DEFAULT=USD
CONTACT_EMAIL=info@safidottech.com
RESEND_API_KEY=your_resend_api_key_here
MAILCHIMP_API_KEY=your_mailchimp_api_key_here
MAILCHIMP_LIST_ID=your_list_id_here
SANITY_PROJECT_ID=your_sanity_project_id
SANITY_DATASET=production
SANITY_API_TOKEN=your_sanity_token
